<header>
    <nav class="w-full h-36 bg-[#81c408] flex justify-between items-center px-4">
        <div>
        <img src="../../../../assets/Cartify_transparent.png" class="h-40 w-40 cursor-pointer mb-4" [routerLink]="'/'"/>
        </div>
        <div class="flex gap-4">
            <div>
            <button class="border-2 border-orange-300 rounded-lg p-2" (click)="showDropDown()">Categories</button>
            @if(showDropDownFlag){
                <div class="h-[200px] w-1/4 bg-white border-2 shadow-md absolute rounded-sm top-15 right-40 overflow-y-auto">
                    @for(cate of categoryList; track cate.id){
                        <p class="cursor-pointer mb-2 px-2 hover:bg-gray-400" (click)="displayCategory(cate.categoryId)">{{cate.categoryName}}</p>
                    }
                </div>
            }
        </div>
        <div class="mt-2 flex">
            <fa-icon [icon]="icon" size="lg" [routerLink]="'/cart'"></fa-icon>
        </div>
            <button [routerLink]="'/login'">Seller?</button>
        </div>
    </nav>
</header>
<router-outlet></router-outlet>
