<nav class="navbar navbar-light bg-light">
    <div class="container-fluid flex justify-between">
      <div class="flex items-center gap-6">
      <img src="../../../../assets/Cartify.png" class=" cursor-pointer w-20 h-20 rounded-lg relative bottom-6" [routerLink]="'/products'"/>
      <h2 class="font-semibold text-xl cursor-pointer" [routerLink]="'/categories'">Categories</h2>
      <h2 class="font-semibold text-xl cursor-pointer" [routerLink]="'/shop'">Shop</h2>
      </div>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
</nav>

<router-outlet></router-outlet>


